# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot
*.log

# IDE
.classpath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment / secrets
.env
application-local.properties
application-local.yml